*{
    margin: 0px;
    list-style: none;
    padding: 0px;
    
}
body{
    background: rgb(29,253,175);
background: linear-gradient(90deg, rgba(29,253,175,1) 0%, rgba(58,173,180,1) 48%);
}

nav{
    background:#990100;
    padding: 20px 10px;
    position: fixed;
    width: 100%;
}
nav a{
    padding: 5px 10px;
    color: #e8e8e8;
}

#banner{
    text-align: center;
}

.qatarBanner{
    margin-top: 58px;
    padding: 50px 30px 10px 30px;
    height: 300px;
}
.contenedor {
    display: flex;
    justify-content: space-evenly;

}
.card{
    margin: 10px 5px;
    border: 1px solid white;
    width: 30%;
    height: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.grupo{
    width: 100%;
    color: #e8e8e8;
    background: black;
    text-align: center;
}

.fecha{
    width: 98%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: #e8e8e8;
    padding-left: 1%;
    padding-right: 1%;
}

.versus{
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: #e8e8e8;
    padding-left: 5%;
    padding-right: 5%;
}
.versusSiguiente{
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding-left: 5%;
    padding-right: 5%;
}
.fechaSiguiente{
    width: 98%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding-left: 1%;
    padding-right: 1%;
}

